
@import "tailwindcss";



.catamaran {
    font-family: "Catamaran", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
 }

.satisfy {
    font-family: "Satisfy", cursive, sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.kaus {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@theme {
    --color-qillary-dark: #212121;
    --color-qillary-aqua: #3FD0D4;
    --color-qillary-white: #FFFFFF;
    --color-qillary-gris: #F8F8F8
}